{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block content %}
    <h1>Create Event</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description(rows=10, cols=50) }}<br>
            {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
        
    <div>
    <p><a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">Back to Admin Dashboard</a></p>
    </div>
{% endblock %}
